<% content_for :head do %>
	<%= stylesheet_link_tag 'people' %>
<% end %>

<% @page_title = title("Edit profile for " + @person.full_name) %>

<h1>Editing person</h1>

<%= render :partial => 'new_edit', :locals => { :action => 'Update' } %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>