<% content_for :head do %>
	<%= stylesheet_link_tag 'people' %>
<% end %>

<% @page_title = title("Create new team member profile") %>

<h1>New person</h1>

<%= render :partial => 'new_edit', :locals => { :action => 'Create' } %>

<%= link_to 'Back', people_path %>