<%= stylesheet_link_tag 'publications' %>
<% @page_title = title("Edit publication - " + @publication.title) %>

<h1>Editing publication</h1>

<%= render :partial => 'new_edit', :locals => { :action => 'Update' } %>

<%= link_to 'Show', @publication %> |
<%= link_to 'Back', publications_path %>