body { background-color: #fff; color: #333; 
  width: 1024px;
  margin:0 auto 0 auto;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h3 { font-weight:normal; }

a { color: #1e77a4; text-decoration:none; }
a:visited { color: #1e77a4; }
a:hover { border-bottom:dotted thin #1e77a4; }
a > img { border:none; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#top-nav { padding:0; margin:2em 0 1.5em 0; list-style:none; 
	background-color:#eee; color:#6599ff; 
	background-image:url(../images/nav-gradient-inside.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
}
#top-nav li { padding:0.5em 0.5em 0.7em 0.5em; margin:0 -0.3em 0 0; float:left; 
	text-align:center; font-variant:small-caps; font-size:large; 
}
#top-nav li.selected-nav-tab { 
	background-image:url(../images/nav-gradient-selected.jpg); 
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#32cccc }
#top-nav li.selected-nav-tab a { color:white; }
#top-nav li:hover { 
	background-image:url(../images/nav-gradient-selected-darkblue.jpg); 
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#6599ff; 
}
#top-nav li:hover a { color:white; }
#top-nav li a.lower-case { font-variant:normal; }
#top-nav li a { color:#006599; margin:0; padding:0; }
#top-nav li a:hover { border-bottom:none; }

#subpages { margin:0; padding:0; list-style:none; }
#subpages li {
	text-align:center;
	float:left;
	padding:0 0 1.5em 0;
	margin:0 1em -0.8em 0;
}
#subpages li.active-subpage { 
	background-image:url(../images/active-divot.gif);
	background-repeat:no-repeat;
	background-position:center bottom;
}
#subpages li.active-subpage a { color:black; }

.banner-row { border-bottom:solid thin #ffcc00; border-top:solid thin #98c5da;
	background-image:url(../images/monkey_brain_banner.png);
	background-repeat:no-repeat;
	background-position:top left;
	background-color:#e3f8fb;
	min-height:200px;
}
.banner-row div { float:left; vertical-align:top; }
.banner-row div.mid-heading { margin-left:242px; width:242px; padding:1em 1em 1em 0; }
.banner-row div.detail { padding:1em 1em 1em 0; width:490px; margin-bottom:2em; }
.banner-row h2 { text-align:right; margin-left:15em; margin-right:3em; margin-top:3em;}

#people-banner { 
	background-image:url(../images/introduction-gradient.jpg);
	background-repeat:repeat-x;
}

.cell-row { margin-bottom:3em; }
.cell-row div { float:left; vertical-align:top; }


#join-us-box { width:19em; }
.link-cell { width:12.6em; margin-left:2em; }
.link-cell img { border-bottom:solid 1em; }
.link-cell h3 { font-weight:normal; }

.yellow-hr { color:#ffcc00; background-color:#ffcc00; height:1px; border:none; }

#research-objectives div { float:left; vertical-align:top; margin-right:4em; margin-bottom:3em; }
#research-objectives ul { list-style:none outside url(../images/objectives-bullet.jpg); width:425px; padding-left:20px; }
#research-objectives ul li { margin-bottom:1em; }

.study-description { float:left; width:220px; vertical-align:top; padding:1em; }

#home-pubs { width:700px; float:left; }
#home-news { width:318px; float:left; }
#home-news ul { list-style:none; margin:0; padding:0; }
#home-pubs ul { list-style:none inside url(../images/paper-icon.jpg); margin:0; padding:0; }
#home-pubs ul li, #home-news ul li { margin-bottom:1em; }
#home-pubs ul p, #home-news ul p { color:gray; font-style:italic; margin:0; padding:0; }

#pubs-index { padding:1em; }
#pubs-index ul { list-style:none inside url(../images/paper-icon.jpg); margin:0; padding:0; }
#pubs-index ul li, #home-news ul li { margin-bottom:1em; }
#pubs-index ul p.journal-info { color:gray; font-style:italic; margin:0; padding:0; }

#sterling-blurb { width:450px; margin:1em; }
#sterling-photo { vertical-align:bottom; margin:2em 2em 0 2em; }
#contact-blurb { width:256px; margin:2em 1em 1em 1em; }

#people-list { list-style:none; padding:0; }
#people-list li { float:left; margin:0; padding:0; width:237px; vertical-align:top; 
	margin-right:1em; margin-bottom:1em; }
#people-list img { float:left; margin-right:1em; margin-bottom:1em; }
#people-list h3 { margin:0; padding:0; font-size:small; }
#people-list p { margin:0; padding:0; font-size:x-small; }

#events-list { list-style:none; }
#events-list li { margin-bottom:2em; padding-right:4em; }
#events-list img { float:left; margin-right:1em; }

.pages-nav { list-style:none; padding-left:0; }
.pages-nav li { float:left; }

#info-indicator h3.indicator-box {
	background-image:url(../images/indicator_arrow.png);
	background-repeat:no-repeat;
	padding: 3.5em 0 3.5em 1em; margin:0;
}

.clearfix:after {
	content:".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden; margin:0; padding:0;
}

#footer p { font-size:x-small; color:gray; }
#footer #copyright { float:left; }
#footer #attribution { float:right; }