body { background-color: #fff; color: #333; 
  width: 940px;
  margin:0 auto 5em;
}

/* body {   background:url(../images/grid_bg.jpg) center repeat-y} */

body, p, ol, ul, td {
  font-size:   13px;
  line-height: 18px;
}

/* Header Sans-serif Styles */
.link-cell, .arrow-cell, #top-nav, #home-pubs, #home-news, #footer, #people-nav, h1, h2, h3, h4 {
	font-family: arial; sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h3 { font-weight:normal; }

a { color: #1e77a4; text-decoration:none; }
a:visited { color: #1e77a4; }
a:hover { border-bottom:dotted thin #1e77a4; }
a > img { border:none; }

#top-nav { padding:0; margin:2em 0 1.5em 0; list-style:none; 
	background-color:#eee; color:#6599ff; 
	background-image:url(../images/nav-gradient-inside.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
}
#top-nav li { padding:0.5em 0.5em 0.7em 0.5em; margin:0; float:left; 
	text-align:center; font-variant:small-caps; font-size:large; 
}
#top-nav li.selected-nav-tab { 
	background-image:url(../images/nav-gradient-selected.jpg); 
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#32cccc }
#top-nav li.selected-nav-tab a { color:white; }
#top-nav li:hover { 
	background-image:url(../images/nav-gradient-selected-darkblue.jpg); 
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#6599ff; 
}
#top-nav li:hover a { color:white; }
#top-nav li a.lower-case { font-variant:normal; }
#top-nav li a { color:#006599; margin:0; padding:0; }
#top-nav li a:hover { border-bottom:none; }

#subpages { margin:0; padding:0; list-style:none; font-family: arial; sans-serif;}
#subpages li {
	text-align:center;
	float:left;
	padding:0 0 1.5em 0;
	margin:0 1em -0.8em 0;
}
#subpages li.active-subpage { 
	background-image:url(../images/active-divot.gif);
	background-repeat:no-repeat;
	background-position:center bottom;
}
#subpages li.active-subpage a { color:black; }

.banner-row { border-bottom:solid thin #ffcc00; border-top:solid thin #98c5da;
	background-image:url(../images/monkey_brain_banner.png);
	background-repeat:no-repeat;
	background-position:top left;
	background-color:#e3f8fb;
	min-height:200px;
}



.banner-row div { float:left; vertical-align:top; }
.banner-row div.mid-heading { margin-left:220px; width:340px; padding-left: 2em; padding-top: 1em; line-height: 2em;}
.banner-row div.detail { padding:1em 1em 1em 0; width:320px; float: right;}
.banner-row h2 { text-align:right; margin-left:15em; margin-right:3em; margin-top:3em;}
.banner-row h4 { margin: 0	;}

#people-banner { background :url(../images/introduction-gradient.jpg) repeat-x; min-height: 1em;}
#people-nav { float: left; width: 160px; padding-top: 20px;}
#people-nav h3 { margin: 0.5em 0 ; font-size: 12pt; font-weight: bold; border-bottom: solid thin gray; color: gray;}
#people-nav ul { margin: 0; padding: 0; list-style: none}

#person-description { padding: 20px; margin-left: 160px;}
#person-description #person-contactcard { float: left; overflow: auto; width: 720px;}
#person-description #person-contactcard h3 { color: #666; margin: 0.5em;}

/* #person-description #person-details { clear: left;} */
#person-description img { float: left; margin-right: 1em; margin-bottom: 1em;}
#person-description h2 { margin: 0;}
/* #person-description h3 { color: #666;} */
#person-description ul { list-style:none outside url(../images/paper-icon.jpg); margin:0 1.5em 0; padding:0; }
#person-description ul li, #home-news ul li { margin-bottom:1em; }
#person-description ul p, #home-news ul p { color:gray; font-style:italic; margin:0; padding:0; }
/* #person-pubs { width: 200px;} */


.cell-row { margin-bottom:1em; }
.cell-row div { float:left; vertical-align:top; }

.arrow-cell { width:160px; }

#link-cell-container { float: right; clear: right;}

.link-cell { margin-left:20px; width:160px; }
.link-cell img { border-bottom:solid 1em; padding:0; margin:0; }
.link-cell h3 { font-weight:normal; }
.link-cell ul { list-style: none outside; padding: 0;}
.link-cell li { margin: 0 0 1em;}

.yellow-hr { color:#ffcc00; background-color:#ffcc00; height:1px; border:none; clear: both; }

#research-objectives div { float:left; vertical-align:top; margin-right:1.5em; margin-bottom:3em; }
#research-objectives ul { list-style:none outside url(../images/objectives-bullet.jpg); width:425px; padding-left:20px; }
#research-objectives ul li { margin-bottom:1em; }

.study-description { float:left; width:260px; vertical-align:top; padding:20px; }
.study-description h3 { font-family: arial; sans-serif; }

#home-pubs { width:600px; float:left; }
#home-news { width:300px; float:left; }
#home-news ul { list-style:none; margin:0; padding:0; }
#home-pubs ul { list-style:none outside url(../images/paper-icon.jpg); margin:0 1.5em 0; padding:0; }
#home-pubs ul li, #home-news ul li { margin-bottom:1em; }
#home-pubs ul p, #home-news ul p { color:gray; font-style:italic; margin:0; padding:0; }
#home-pubs p { margin-left: 1.5em;}

#pubs-index { padding:1em; }
#pubs-index ul { list-style:none outside url(../images/paper-icon.jpg); margin:0 1em 0; padding:0; }
#pubs-index ul li, #home-news ul li { margin-bottom:1em; }
#pubs-index ul p.journal-info { color:gray; font-style:italic; margin:0; padding:0; }

/* People Index */
#sterling-blurb { width:35em; padding: 1em;}
#sterling-photo { vertical-align:bottom; }
#contact-blurb { width:15em; padding-top: 1em; padding-left: 1em; }
#contact-blurb h3 { margin: .5em 0 }

.people-list { list-style:none; padding:0;}
.people-list li { float:left; margin:0; padding:0; width:200px; vertical-align:top; 
   margin-right:20px; margin-bottom:1em; }
.people-list img { float:left; margin-right:1em; margin-bottom:1em; }
.people-list h3 { margin:0 0 .4em; padding:0; font-size:14px; line-height: normal;}
.people-list h4 { margin:0; padding:0; font-size:11px; color: gray; line-height: normal;}
.people-list p { margin:0; padding:0; font-size:0.9em; }

#events-list { list-style:none; padding:0; }
#events-list li { margin-bottom:2em; }
#events-list img { float:left; margin-right:1em; }

#events-list li h3 { font-weight: bold; margin:0; padding:0.5em; background-color:#eee; border:solid thin #ddd;
	-webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; 
	-moz-border-radius-topleft:10px; -moz-border-radius-topright:10px;
	border-top-left-radius:10px; border-top-right-radius:10px;
}

.right-date { float: right; font-size:small; }

#events-list li div.event-content { padding:0.5em; border:solid thin #ddd; 
	-webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px; 
	-moz-border-bottom-left-radius:5px; -moz-border-bottom-right-radius:5px; 
	border-bottom-left-radius:5px; border-bottom-right-radius:5px; 
}

.pages-nav { list-style:none; padding-left:0; }
.pages-nav li { float:left; }

.clearfix:after {
	content:".";
    display: block;
    height: 0;
    clear: left;
    visibility: hidden; margin:0; padding:0;
}

#footer p { font-size:x-small; color:gray; }
#footer #copyright { float:left; }
#footer #attribution { float:right; }

/* Textile Markup Table Styles */
table.textile-example {
float: right;
width: 30em;
}

table.textile-example td {
border: solid 1px #ddd;
background-color: #eee;
font-size: 8pt;
padding: 5px;
 
}

/* Rails CLasses */ 
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
 
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
 
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
 
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
 
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}