#resources-wrapper {
	overflow:hidden; width:100%; clear:both; margin:0; padding:0; margin-bottom:2em;
}

#resources-sidebar { float:left; width:225px; }
#resources-sidebar ul { padding-left:1.6em; font-family:arial, sans-serif; }
#resources-content { margin-left:270px; padding:0; }
#resources-content h3 { font-size:24pt; margin-top:0.4em; margin-bottom:0;
	 line-height:1em; }