#pubs-banner { background:url(../images/mesh-banner.png) no-repeat black; color:white; }

#pubs-index { padding-bottom:400px; margin-top:2em; }
#pubs-list { overflow:visible; width:100%; list-style:none; padding:0; margin:0; }
#pubs-list li { width:283px; float:left; padding:1em; position:relative; }
#pubs-list li h3.pub-title { margin:0.4em 0; }
#pubs-list li p.pub-authors { color:gray; font-size:smaller; margin:0; }
#pubs-list li p.pub-journal { margin:0.4em 0; }

#pubs-list li:hover { z-index:999;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-box-shadow:3px 5px 5px #555;
	-moz-box-shadow:3px 5px 5px #555;
	color:white;
	background-image:url(../images/tile4.png);
	background-position:bottom left;
	opacity:0.95;
}
#pubs-list li:hover a { color:#A6D9FF; }
#pubs-list li:hover p.pub-authors { color:#ccc; }
#pubs-list li:hover div.abstract { display:block; position:absolute; z-index:1000!important; padding:0 0.5em; 
	width:150%; top:100%; margin-top:-16px; }

#pubs-list li div.abstract { display:none;z-index:1000!important;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-box-shadow:3px 5px 5px #555;
	-moz-box-shadow:3px 5px 5px #555;
	color:white; 
	background-image:url(../images/tile4.png);
	font-size:24pt;
}
#pubs-list li div.abstract a { color:#A6D9FF; }
#pubs-list li div.abstract h3 { font-size: 20pt; }

/*  background-color:#DDEBFD; */

/* Publication Show */
#pubs-show-sidebar { float:left; width:21em; }
#pub-show-info { margin-left:22em; }
#pub-show-info h3.title { font-size:x-large; line-height:1.2em;}
#pub-show-info p.authors { color:gray; }

.pdflink {
	background-image: url(/images/pdficon_small.gif);
	background-position: bottom left;
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding-left: 20px;
}


/*
rgb(81, 112, 246)
rgb(55, 90, 245)
rgb(27, 68, 243)
background-image:url(../images/blue-texture-liter.png);
*/