#pubs-index { padding-bottom:400px; margin-top:2em; }
#pubs-list { overflow:visible; width:100%; list-style:none; padding:0; margin:0; }
#pubs-list li { width:283px; float:left; padding:1em; position:relative; }
#pubs-list li h3.pub-title { margin:0.4em 0; }
#pubs-list li p.pub-authors { color:gray; font-size:smaller; margin:0; }
#pubs-list li p.pub-journal { margin:0.4em 0; }

#pubs-list li:hover { background-color:#DDEBFD; 
	-webkit-box-shadow:4px 4px 4px #bbb; 
	-moz-box-shadow:4px 4px 4px #bbb; 
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}
#pubs-list li:hover div.abstract { display:block; position:absolute; z-index:1000; padding:1em; 
	width:150%; top:90%; }

#pubs-list li div.abstract { display:none; background-color:#DDEBFD; 
	-webkit-box-shadow:4px 4px 4px #bbb; 
	-moz-box-shadow:4px 4px 4px #bbb; 
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}