<h3>Other Recent News & Events</h3>
<ul id="sidebar-recent-events-list" class="link-and-subtext no-icon">
  <% for event in events %>
    <li>
      <%= event == current_event ? event.title : link_to(event.title, event) %>
      <p><%= event.date.to_s(:long) %></p>
    </li>
  <% end %>
</ul>
<p><%= link_to 'more news...', events_path %></p>