<% content_for :head do %>
	<%= stylesheet_link_tag 'pages' %>
<% end %>

<% @page_title = title("Resource Pages") %>

<div id="pages-index-banner" class="banner-row">
	<h2>Wisconsin ADRC Imaging Core Resource Pages</h2>
</div>

<div id="resources-wrapper">

  <%= render :partial => 'resources_sidebar' %>

  <div id="resources-content">
    <%= render :partial => 'application/blurb', :locals => { :permalink => 'resources-index-welcome' } %>
  </div>

</div>

<% if logged_in? %>
	<p><%= link_to 'New page', new_page_path %></p>
<% end %>