<% content_for :head do %>
	<%= stylesheet_link_tag 'pages' %>
<% end %>

<% @page_title = title("Create a new resource page") %>

<h1>New page</h1>

<%= render :partial => 'new_edit', :locals => { :action => 'Create' } %>

<%= link_to 'Back', pages_path %>
