	<%
		textile_examples = ['h1. This is a heading.']
		textile_examples << 'Symbols around text render it _italic_ or *bold*.' 
		textile_examples << '# Make lists <br />
# with pound symbols. <br />
## Use more pound symbols <br />
## to get child entries.' 
		textile_examples << '* Bulleted lists <br />
* just use an asterisk(*) instead of a pound. <br />
** The same goes <br />
** for child entries.' 
    textile_examples << 'Insert an image <br /> !http://www.brainmap.wisc.edu/images/uwcrest_sm.png!' 
    textile_examples << 'You can make a link to a "website":http://www.wisc.edu <br /><br />
    Link using an image <br />
    !http://www.brainmap.wisc.edu/images/uwcrest_sm.png!:http://www.wisc.edu/'
	%>
	
	<table class="textile-example" border="1" cellspacing="0" cellpadding="3">
		<caption>
		  A Few Textile Examples<br />
		  <small>How to add styles, links, lists and stuff to your text.</small>
		</caption>
		<tfoot><td colspan="3"> More info can be found at:  
			<%= link_to "Textile Cheat Sheet", "http://hobix.com/textile/quick.html" %><br />
			And even <i>more</i> than that at: 
			<%= link_to "A Textile Reference", "http://hobix.com/textile/" %>
		</td></tfoot>
		<tbody> 
		  <tr>
		    <td style="background-color:white;"><h2>Type exactly this</h2></td>
		    <td width="5%" align="center" style="background-color:white;"></td>
		    <td style="background-color:white;"><h2>And you'll see this</h2></td>
		  </tr>
		<% for example in textile_examples %>
			<tr>
				<td width="48%"><tt><%= example %></tt></td>
				<td width="5%" align="center">&#10143;</td>
				<td width="47%"><%= RedCloth.new(example).to_html%></td>
			</tr>
		</tbody>
		<% end %>
	</table>	