<% @page_title = "Wisconsin ADRC Imaging Core - Research Objectives" %>

<ul id="subpages">
	<li class="active-subpage"><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li><%= link_to 'People', people_path %></li>
</ul>

<div id="people-banner" class="banner-row">
	<div class="mid-heading">
		<h3>
			We use cutting edge brain mapping methods in conjunction with neurobehavioral measurements to study cognitive disorders
		</h3>
	</div>
	<div class="detail">
		<p>
			Our lab is part of the Wisconsin Alzheimer's Disease Research Center and is concerned with discovering new knowledge 
			about how the brain changes in aging, AD and related dementias. We are focused on key issues such as the problem of 
			preclinical detection of AD, and on uncovering brain behavior relationships in neurobehavioral syndromes such as 
			amnesia and anosognosia. We use advanced PET and MRI imaging techniques such as amyloid imaging, receptor mapping, 
			fMRI, perfusion, and diffusion imaging to address key research questions.
		</p>
	</div>
</div>

<div id="research-objectives">
	<div id='clinical-objectives'>
		<h3>Clinically Oriented Objectives:</h3>
		<ul>
			<li>
				Detect preclinical brain changes in Alzheimer Disease that are separable from normal aging
			</li>
			<li>
				Characterize large scale brain functional and structural patterns that may be associated with outcomes such as 
				compensation or cognitive decline in neurological disorders
			</li>
			<li>
				Predict with greater certainty who will progress to dementia
			</li>
			<li>
				Support ADRC clinical and translational research in aging and dementia including development of imaging markers 
				as outcomes in treatment trials
			</li>
		</ul>
	</div>
	<div id='neurosci-objectives'>
		<h3>Cognitive Neuroscience Objectives</h3>
		<ul>
			<li>Identifying neural systems involved in: Memory encoding and retrieval</li>
			<li>Clarify the role of self-relevance and salience systems in memory formation</li>
			<li>Understand how risk factors for Alzheimer Disease affect brain function</li>
			<li>Uncover age-related changes in brain structure and function</li>
		</ul>
	</div>
</div>