<ul id="subpages">
	<li class="active-subpage"><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li><%= link_to 'People', people_path %></li>
</ul>

<div id="people-banner" class="banner-row">
	<div class="mid-heading">
		<h3>
			We use brain imaging in conjunction with neuropsychological measurement to study cognitive disorders of memory and
			self-awareness.
		</h3>
	</div>
	<div class="detail">
		<p>
			The lab seeks to address questions such as: How early in life does Alzheimer Disease begin and can functional
			imaging provide new knowledge about presymptomatic disease progression?  What are the neural substrates of awareness
			(or unawareness) of deficit in AD and other cognitive disorders? To answer questions like these we collaborate
			with a talented multi-disciplinary team, and study healthy volunteers across the age spectrum with and without risk
			factors for dementia, patients with Alzheimer's Disease, Mild Cognitive Impairment, frontal temporal dementias, and
			patients with traumatic brain injury.
		</p>
	</div>
</div>

<div id="research-objectives">
	<div id='clinical-objectives'>
		<h3>Clinically Oriented Objectives:</h3>
		<ul>
			<li>Detect early brain changes in Alzheimer Disease that are separable from normal aging</li>
			<li>Characterize large scale progressive brain changes – aging, injury recovery and neurodegeneration – that
				may relate to outcome
			</li>
		</ul>
	</div>
	<div id='neurosci-objectives'>
		<h3>Cognitive Neuroscience Objectives</h3>
		<ul>
			<li>
				Identifying neural systems involved in: Self-referential Appraisal; Memory encoding and Retrieval.
			</li>
			<li>
				Clarify the role of the Posterior Cingulate Region in Memory Retrieval and Self-Referential Processing.
			</li>
			<li>
				Understand how risk factors for Alzheimer Disease affect brain function.
			</li>
			<li>
				Uncover age-related changes in brain structure and function.
			</li>
			<li>
				The lab relies on the NIH and Veterans Administration for funding to do this important work.
			</li>
		</ul>
	</div>
</div>